<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
            body {
                font-family: Arial, Helvetica, sans-serif;
            }

            * {
                box-sizing: border-box;
            }

            .main {
                background-color: #e5e5e5;
                width: 500px;
                margin: 0 auto;
                padding: 1rem;
            }

            h1 {
                text-align: center;
                font-size: 2rem;
            }

            .section {
                background-color: #fff;
                width: 80%;
                margin: 0 auto 1rem auto;
                padding: 1rem;
            }

            p {
                text-align: center;
                margin: 0;
            }

            .confirmationValue {
                font-size: 2.5rem;
                text-align: center;
                letter-spacing: 8px;
            }

            span {
                display: block;
                text-align: center;
                font-size: 12px;
                color: #aaa;
                width: 80%;
                margin: 0 auto;
                margin-bottom: 1rem;
            }
        </style>
    </head>
    <body>
        <!-- this ensures Gmail doesn't trim the email -->
        <span style="opacity: 0; user-select: none"><%= date %></span>

        <div class="main">
            <h1><%= type %> Code</h1>
            <div class="section">
                <p>Here is your <%= type %> approval code:</p>
                <div class="confirmationValue"><%= confirmationCode %></div>
            </div>
            <span> If this request did not come from you, change your account password immediately to prevent further unauthorized access. </span>
        </div>
        <!-- this ensures Gmail doesn't trim the email -->
        <span style="opacity: 0; user-select: none"><%= date %></span>
    </body>
</html>
